<div class="container bootstrap snippets bootdeys">
  <div class="center-heading">
      <h2>Welcome to BooksApp</h2>
      <span class="center-line"></span>
  </div>

  <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <div class="row">
              <div *ngFor="let book of books" class="col-sm-4 margin40">
                  <div class="item-img-wrap ">
                      <img src="{{book.imageUrl}}" class="img-responsive" alt="bookimg">
                      <div class="item-img-overlay">
                          <a href="#">
                              <span></span>
                          </a>
                      </div>
                  </div> 
                  <div class="work-desc">
                      <h3><a>{{book.title}}</a></h3>
                      <span>{{book.author}}</span>
                  </div><!--work desc-->
              </div><!--speakers col end-->
          </div><!--speakers row end-->
      </div>
  </div>
</div>
